---
# Per environment values which override defaults in hmpps-locations-inside-prison-api/values.yaml
environment:
  name: train

generic-service:
  replicaCount: 2
  serviceAccountName: null
  ingress:
    host: locations-inside-prison-api-train.hmpps.service.justice.gov.uk
    annotations:
      # Secure the reset-training endpoint from the outside of the Kubernetes ingress
      nginx.ingress.kubernetes.io/server-snippet: |
        server_tokens off;
        location /reset-training {
          deny all;
          return 401;
        }
  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    API_BASE_URL_OAUTH: https://sign-in-preprod.hmpps.service.justice.gov.uk/auth
    API_BASE_URL_PRISONER_SEARCH: http://localhost:8090
    API_BASE_URL_PRISON_REGISTER: https://prison-register.hmpps.service.justice.gov.uk
    API_BASE_URL_PRISON_API: https://prison-api-preprod.prison.service.justice.gov.uk
    API_BASE_URL_MANAGE_USERS: https://manage-users-api-preprod.hmpps.service.justice.gov.uk
    HMPPS_SQS_LOCALSTACK_URL: http://localhost:4566
    SPRING_PROFILES_ACTIVE: train

  extraContainers:
    - name: wiremock
      image: "ghcr.io/ministryofjustice/hmpps-wiremock:latest"
      imagePullPolicy: IfNotPresent
      ports:
        - name: http
          containerPort: 8090
          protocol: TCP
      env:
        - name: WIREMOCK_REPOS
          value: |
            [
              {
                "repoUrl": "https://github.com/ministryofjustice/hmpps-locations-inside-prison",
                "branch": "main",
                "path": "wiremock"
              }
            ]
      livenessProbe:
          httpGet:
            path: /__admin/mappings
            port: 8090
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 5
    - name: localstack
      image: "ghcr.io/ministryofjustice/hmpps-localstack:latest"
      imagePullPolicy: IfNotPresent
      ports:
        - name: http
          containerPort: 4566
          protocol: TCP

  scheduledDowntime:
    enabled: false

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  businessHoursOnly: true